node_modules
.DS_Store
/composer.lock
/phpcs.xml
node_modules/
vendor/

# Artifacts
process.yml
*.zip
*.*.json

custom-log-fields.txt
custom-log.txt
composer.phar
/vendor/
/node_modules/
/bower-modues/
/dist/assets/fonts/
/dist/assets/images/
/dist/assets/js/*
/dist/assets/css/*
!/dist/assets/js/app.min.js
!/dist/assets/css/custom.css
/logs/

sftp-config.json
/dist/assets/images/*
/dist/assets/fonts/*
/dist/node_modules/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/sftp-sample.json
*.code-workspace

# Local History for Visual Studio Code
.history/