#map {
    height: 412px !important;
    .gm-style-iw-ch{
        
    }
    .gm-ui-hover-effect{
        position: absolute !important;
        right: 0;
        top: 0;
        width: 31px !important;
        height: auto !important;
        span{
            margin: 0 !important;
        }
    }
}

.btn_volver_inicio{
    .elementor-widget-container{
        padding: 0 !important;
     }
}
.dialog-message.dialog-lightbox-message{
    width: 45px !important;
    position: absolute;
    right: 0rem;
    bottom: 2rem;
}
.sub-arrow{
    padding: 0 !important;
}
header{
    .elementor-widget-container{
        a{
            img{
                object-fit: contain !important;
            }
        }
    }
}
.elementor-button-link,.column_btn_pedido .elementor-item{
   @media (max-width:768px) {
     padding: 0.5rem 0.8rem!important;
    font-size: 15px !important;
    }
    @media (max-width:560px) {
        padding: 2vw 1.5vw !important;
        font-size: 12px !important;
    }
}
.elementor-35 .elementor-element.elementor-element-7165a619{
    @media (max-width:760px){
        margin: auto !important;
    }
}

.home .elementor-column.elementor-col-50{
    @media (max-width:760px){
        margin-top: 4rem  !important;
    }
}

.section_post_instagram{
    .instagram-media{
        @media (max-width:779px) {
            margin: auto !important;
        }
    }
}

.elementor-4033 .elementor-element.elementor-element-17b43734 > .elementor-container > .elementor-column > .elementor-widget-wrap{
    justify-content: center;
}


.elementor-28 .elementor-element.elementor-element-4380303 img{
   @media (max-width:768px) {
    width: 100% !important;
   }
}

.sub-arrow{
    line-height: 2;
    margin-left: 1rem;
    font-size: 28px;
}

header .sub-menu.elementor-nav-menu--dropdown li a{
    color: #371E69 !important;
}

@media (max-width: 768px) {
    .column_btn_pedido {
        width: 20% !important;
    }
}

header .elementor-container{

    .elementor-column{
        &:nth-child(2){
        @media (max-width:1024px) {
            width: 11vw !important;

         }
         .elementor-widget-wrap{
            margin: 0;
            width: 100%;
            padding: 0 !important;
            .elementor-element{
             max-width: 100%;
             width: 100%;   
            }
         }
        }
    }
    
    .column_btn_llamanos{
        @media (max-width:1024px) {
            width: 14vw !important;
            padding-right: 0 !important;
        }
        @media (max-width:460px) {
            width: 24vw !important;
            padding-right: 0 !important;
        }
        .elementor-widget-wrap{
            @media (max-width:1024px) {
                justify-content: start;
                width: 100%;
            }
            .elementor-element{
                @media (max-width:1024px) {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
    .column_btn_pedido{
        width: 15vw !important;
        @media (max-width:560px) {
            width: 20vw !important;
        }
        .elementor-nav-menu--dropdown{
            max-width: 100%;
            width: 100%;
        }
        a{
            @media (max-width:560px) {
                padding: 2vw 1.5vw !important;
                font-size: 12px !important;
            }
        }
    }
    @media (max-width:1024px) {
        //justify-content:space-between !important;
        max-width: 100%;
        gap: 7vw;
        width: fit-content;
        @media (max-width:560px) {
            gap: 5vw;
        }
    }
    .column_logo{
        @media (max-width:1024px) {
            width: 26vw !important;
        } 
    }
}